@Color_bg_white: #fff;
@Color_bg_grey: #f3f3f3;							
@Color_text_dark: #333b46;							
@Color_text_white: #fff;							
@Font_family_main: 'Open Sans';				
@Font_family_headers_1_2: 'Source Sans Pro';


// SECTION FOOTER //


footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 290px;
    background: #fff;
}

.icons_block {
    display: flex;
    justify-content: center;
}

.icon_facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b5998;
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    color: @Color_text_white;
    font-size: 16px;
    margin: 5px;
}

.icon_twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #26a6d1;
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    color: @Color_text_white;
    font-size: 16px;
    margin: 5px;
}

.icon_linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e76a8;
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    color: @Color_text_white;
    font-size: 16px;
    margin: 5px;
}

.icon_instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f729b;
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    color: @Color_text_white;
    font-size: 16px;
    margin: 5px;
}

.icon_vimeo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #86c9ef;
    border: none;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    color: @Color_text_white;
    font-size: 16px;
    margin: 5px;
}
