
@Color_bg_white: #fff;
@Color_bg_grey: #f3f3f3;							
@Color_text_dark: #333b46;							
@Color_text_white: #fff;							
@Font_family_main: 'Open Sans';				
@Font_family_headers_1_2: 'Source Sans Pro';			


// HEADER //

header {
	background: url(../img/section_header/bg.jpg) no-repeat center;
	height: 100vh;
	width: 100%;
	background-size: cover;
}

.logo {
	position: fixed;
	float: left;
	padding-top: 30px;
	margin-left: 50px;
	z-index: 999;
}

nav {
	position: fixed;
	width: 100%;
	margin-right: 50px;
/*	display: flex;
	list-style: none;
	color: @Color_text_white;
	font-weight: 200;
	font-size: 16px;
	background: none;
	border: none;
*/
}

nav {
/*
	display: flex;
	justify-content: flex-end;
*/
	text-align: right;
	margin-right: 10px;
	top: 0;
	height: 50px;
	

	ul {
		list-style: none;
		background: rgba(0, 0, 0, 0);
		overflow: hidden;
		color: @Color_text_white;
		padding: 24px;
		margin: 0;
		transition: 0.3s;
		

		li {
			display: inline-block;
			font-size: 13px;

			a {
				font-size: 13px;
				color: @Color_text_white;
				text-decoration: none;
				line-height: 30px;
				outline: 0;
				padding: 5px 20px;
				outline: 0;
				border: 1px solid rgba(255, 255, 255, 0);
				border-radius: 15px;
				box-sizing: border-box;
			}
		}
	}
}

nav.black ul {
	background: rgba(38, 42, 50, 0.7);
}


.menu a:hover, a:focus {
	text-decoration: none;
	outline: 0;
	border: 1px solid #fff;
	border-radius: 15px;
	box-sizing: border-box;
}

.menu-icon {
/*	display: flex;
	justify-content: flex-end;
*/	position: fixed;
	width: 100%;
	text-align: right;
	padding: 14px 50px;
	box-sizing: border-box;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 9999;
}

.header_title {
	padding-top: 250px;
}

.header_title h1 {
	color: @Color_text_white;
	font-size: 35px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 7px;
	word-spacing: 2px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header_title p {
	font-family: @Font_family_main;
	color: @Color_text_white;
	font-size: 16px;
	font-weight: normal;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px;
}

.header_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	background-color: #19bd9a; 
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .header_btn .fa-heart-o {
	font-size: 24px;
}

.fa-angle-down {
	font-size: 16px;
	color: #fff;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.header_title h1 {
		font-size: 30px;
	}

	.header_title p {
		font-size: 14px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.logo {
		position: fixed;
		padding: 14px 20px;
	}

	nav ul {
		max-height: 0px;
		background: rgba(38, 42, 50, 0.7);
	}

	nav.black ul {
		background: rgba(38, 42, 50, 0.7);
	}

	.showing {
		max-height: 40em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo {
		margin-left: 20px;
	}


	.header_title p {
		margin-left: 16%;
		margin-right: 16%;
		margin-top: 30px;
	}
}


